<div id="cust-header">
    <div class="container">
        <a href="http://www.porsche.com/middle-east/_qatar_/" title="Visit Porsche Centre Doha">
            <img src="~/Content/Images/Porsche-MZ-30mm.jpg" />
        </a>
        <hr />
    </div>
</div>
