
@{
    ViewBag.Title = "Something went wrong";
}

<h2 class="text-warning">Oops! something went wrong.</h2>

<p>@ViewBag.Message</p>

<p>
    @Html.ActionLink("Back to list of posts", "Index", null, new { @class = "btn btn-info btn-xs" })
</p>

