<footer id="main-footer">
  <div class="container">
    <div class="row">      
      <div class="col-md-6 col-sm-12">
        <ul id="footer-nav" class="list-unstyled">
          <li><a href="https://www.porsche.com/middle-east/_qatar_/aboutporsche/importers/">Porsche Centre Doha</a></li>
          <li><a href="@Url.Action("about","home")">About PCD</a></li>
          <li><a href="@Url.Action("contact","home")">Contact</a></li>
          @if (User.Identity.IsAuthenticated)
          {
            <li><a href="@Url.Action("posts","videos")">Videos</a></li>
          }
        </ul>
      </div>
      <div class="col-md-6 col-sm-12">
         <p>Connect with Porsche Centre Doha</p>
          <div class="row">
              <div class="col-md-12" id="smedia-icons">
                  <a href="https://www.facebook.com/porschecentredoha" class="btn-sm-fb">
                      <i class="fa fa-facebook fa-2x"></i> 
                  </a>
                  <a href="https://www.instagram.com/porschecentredoha" class="btn-sm-ig">
                      <i class="fa fa-instagram fa-2x"></i>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-md-12">
          <div class="cr-area">
              &copy; @DateTime.Today.Year. Porsche Visual Reception. Al Boraq Automobiles Co. w.l.l. Qatar
          </div>        
      </div>
    </div>
  </div>
</footer>
