@{
    ViewBag.Title = "Password reset request has sent successfully";
}

<div class="container-wrapper">
    <div class="container">
        <p class="lead">@ViewBag.Message</p>

        @if (!User.Identity.IsAuthenticated)
        {
            <a href="@Url.Action("signin","account")">Go to login page.</a>
        }
    </div>
</div>