
@{
    ViewBag.Title = "Password reset request has sent successfully";
}

<p class="lead">@ViewBag.Message</p>

@if (!User.Identity.IsAuthenticated)
{
    <a href="@Url.Action("signin","account")">Go to login page.</a>
}