
@{
    ViewBag.Title = "Resource cannot be found";
}

<div class="col-md-12 col-sm-12">

    <div class="well">
        <p class="lead">Oh, Snap!</p>

        <p class="text-danger">Resource cannot be found.</p>
        <p>The page you are trying to access is either moved or doesn't exist.</p>

        @if (User.Identity.IsAuthenticated)
        {
            <p>@Html.ActionLink("Back to home page.", "posts", "videos")</p>
        }
        else
        {
            <p>@ViewBag.Message</p>
        }
    </div>
</div>

@if (!User.Identity.IsAuthenticated)
{
    <div class="col-md-4">
        @Html.Action("GetBranches", "home")
    </div>    
}