@using (Html.BeginForm("search", "videos", FormMethod.Get, new { @class = "navbar-form navbar-right form-group-sm", id = "search-form" }))
{
    <div class="form-group">
        <input  id="v" type="text" name="s" class="form-control" placeholder="Search" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success btn-sm btn-block">
            <span class="fa fa-search"></span>
        </button>
    </div>    
}
