@{
    ViewBag.Title = "Unauthorized access";
}

<div class="col-md-12 col-sm-12">

    <div class="well">
        <p class="lead">Contact your admin.</p>

        <p class="text-danger">Unauthorized access.</p>
        <p>The page you are trying to access is restricted to authorized users only.</p>
    </div>

</div>
