@model VideoUpload.Web.Models.ConfirmPasswordViewModel

@{
    ViewBag.Title = "ConfirmPasswordReset";
}

<h2>Change your password</h2>

@using (Html.BeginForm("confirmpasswordreset", "account", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.Key)
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
        <label for="NewPassword">Your new password:</label>
        @Html.PasswordFor(x=>x.NewPassword, new { @class = "form-control input-sm", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x=>x.NewPassword, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-warning">Change your password</button>
    </div>
}

