@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Something went wrong";
}
<div class="col-md-12 col-sm-12">

    <div class="well">

        <p class="lead">Sorry!</p>

        <p class="text-danger">An error has occured while processing your request.</p>

        <p>@ViewBag.Message</p>
        
    </div>        

    @if (User.Identity.IsAuthenticated)
    {
        <p>@Model.Exception</p>
    }
</div>


