
@{
    ViewBag.Title = "Reset your password";
}

<div class="col-md-8 col-sm-8">
    <h2>@ViewBag.Header</h2>

    @using (Html.BeginForm("passwordreset", "account", FormMethod.Post, new { @class = "form-defaults" }))
    {
        <p class="text-danger">@ViewBag.Message</p>
        <div class="form-group">
            <label for="email">Enter your email:</label>
            <input type="email" name="email" class="form-control input-sm" required autofocus />

        </div>
        <button type="submit" class="btn btn-primary">Send</button>
        <a href="@Url.Action("signin","account")">Back to login page.</a>
    }
</div>