
@font-face {
    font-family: 'Porsche Next TT';
    src: url('../../dist/fonts/PorscheNextTT-Regular.ttf') format('truetype');    
    font-weight: normal;
}

@font-face {
    font-family: 'Porsche Next Thin';
    src: url('../../dist/fonts/PorscheNextTT-Thin.ttf') format('truetype');    
}
