@font-face {
    font-family: 'Porsche Next Thin';
    src: url('../../dist/fonts/PorscheNext-Thin.otf');
    /*src: local('☺'), url('.woff') format('woff'), url('.ttf') format('truetype');*/
}

@font-face {
    font-family: 'Porsche Next Regular';
    src: url('../../dist/fonts/PorscheNext-Regular.otf');
    /*src: local('☺'), url('.woff') format('woff'), url('.ttf') format('truetype');*/
}
