@import "variables";
@import "bootstrap";
@import "fonts";
@import "functions";
@import "mixins";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
/*
================
  General
================
*/
html{
  position: relative;
  min-height: 100%;  
}
body{
  margin-bottom:200px;  
}
h1,h2,h3{
  font-family: "Porsche Next Thin";
}
input, select, textarea {
  font-family: $font-family-base;
}
.btn-default,
.btn-primary {
  &:focus,
  &:hover{
    background:$brand-primary;
    color: #fff;
    border-color: darken($brand-primary, 6.5%);
  }
}
.pager {
  li > a {
    color:#fff;
    
    &:focus,
    &:hover{
      color:#fff;
    }    
  }
}

/*
================
  Header
================
*/
.navbar-default{
  margin-bottom: 0;
  .navbar-nav{
    .dropdown-menu > li > a {
      &:focus,
      &:hover {
        background-color: $brand-primary;
        color: #fff;
      }
    }
  }
}

#marquee-holder{
  position:relative;  
  border-bottom: 1px solid #ccc;
    >img{
    position:relative;
    top: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;         
  }
}

/*
================
  Sign in
================
*/

#form-signin{
  form{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
}

.container-wrapper {
  .container{
    padding-top: 30px;
    padding-bottom: 30px;
  }
}


/*
================
  Footer
================
*/
#main-footer {
  position: absolute;
  bottom: 0;  
  width: 100%;
  height: 200px;
  background: $gray-darker;  
  color: toggle-text-color($gray-darker) !important;
  .container {
    padding-top: 30px;
    padding-bottom: 30px;    
  }
  
}
#footer-nav {
  li{
    a{
      color:#fff;
      &:hover{
        color: $brand-primary;
      }
    }
    
  }
}
a.social-media{
  color: #021bb1;
  &:hover{
    color: $brand-primary;
  }
}
/*
================
  Media queries
================
*/
@media (max-width: 480px){  
  @include media-variant;
}

@media (max-width: 768px) {
  @include media-variant;
}

 