@import "variables";
@import "bootstrap";
@import "fonts";
@import "functions";
@import "mixins";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
/*
================
  General
================
*/
html{
  position: relative;
  min-height: 100%;    
}
body{
  margin-bottom:250px;  
}
h1, h2, h3{
  font-family: "Porsche Next Thin";
}
input, select, textarea {
  font-family: $font-family-base;
}
.form-control {
  padding: $padding-base-vertical 21px !important;
}

.btn.btn-default {
    padding: 13px 21px;
}

.btn-default,
.btn-primary {
  &:focus,
  &:hover{
    background:$brand-primary;
    color: #fff;
    border-color: darken($brand-primary, 6.5%);
  }
}
.pager {
  li > a {
    color:#fff;
    padding: 13px 21px; // added double check
    &:focus,
    &:hover{
      color:#fff;
    }    
  }
}

.mce-content-body {
  padding: $padding-base-vertical 21px;
}

.resource-not-found {  
  margin-top: 20px;
}

#about-section {
  h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  > p {
    font-size: 16px;
  }
}
/*
================
  Header
================
*/
.navbar-default{
  margin-bottom: 0;
  .navbar-nav{
    .dropdown-menu > li > a {
      &:focus,
      &:hover {
        background-color: $brand-primary;
        color: #fff;
      }
    }
  }
}

#marquee-holder{
  position:relative;  
  border-bottom: 1px solid #ccc;
    >img{
    position:relative;
    top: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;         
  }
}
#accountDropdownMenu li > a {
  padding: 13px 21px;
}
/*
================
  Sign in
================
*/
#form-signin {
  form {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    input.form-control{
      padding: $padding-base-vertical $padding-base-horizontal !important;
    }
  }
}

.container-wrapper {  
  .container{
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.posted-article{
  h3{
    a{
      color:#333;
      &:hover{
        color: $brand-primary;
      }
    }
  }
}
.table tr td .btn.btn-default {
  padding: $padding-base-vertical $padding-base-horizontal;
}
/*
================
  Footer
================
*/
#main-footer {
  position: absolute;
  bottom: 0;  
  width: 100%;
  height: auto;
  background: $gray-darker;  
  color: toggle-text-color($gray-darker) !important;
  .container {
    padding-top: 30px;
    padding-bottom: 30px;       
  }    
}
#footer-nav {
  li{
    a{
      color:#fff;
      &:hover{
        color: $brand-primary;
      }
    }    
  }
}
/*#smedia-icons {

  .btn-sm-fb, .btn-sm-ig {
    line-height: 3.14286em;
    display: inline-block;
    text-decoration: none;
    background: #313639;
    color: #fff;
    width: 50px;
    height: 50px;
    margin-right: 4px;
  }

  .btn-sm-fb::before, .btn-sm-ig::before {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 28px;
  }

  .btn-sm-fb {    
    &:hover {
      background-color: darken(#428bca, 6.5%);
    }
  }

  .btn-sm-ig {    
    &:hover {
      background-color: #428bca;
    }
  }
}*/
.cr-area {
  margin-top: 20px;
}
/*
================
  Media queries
================
*/
@media (max-width: 480px){  
  @include media-variant;
}



/*
================
  Watch
================
*/
#listBranches .divider {
  margin: 0 0 !important;
}
#listBranches li > a {
  padding: 13px 21px;
}

/*
  ========================
  SM Icons
  ========================
*/

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}

.icon-instagram:before {
  content: "\e901";
}

.icon {  
  display: inline-block;
  text-decoration: none;
  background: #fff;
  color: #000;
  width: 50px;
  height: 50px;
  margin-right: 4px;
}

.icon-facebook:before, .icon-instagram:before {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
  color: #313639;
}
