<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="workstation id=VideoDb.mssql.somee.com;packet size=4096;user id=alboraqtest_SQLLogin_1;pwd=amzl3heq85;data source=VideoDb.mssql.somee.com;persist security info=False;initial catalog=VideoDb" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="AppDbContext"
      connectionString="Data Source=SQL5035.SmarterASP.NET;Initial Catalog=DB_A190EC_BoraqDb;User Id=DB_A190EC_BoraqDb_admin;Password=Alboraq123;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <!--<connectionStrings>
    <add name="AppDbContext"
      connectionString="workstation id=VideoDb.mssql.somee.com;packet size=4096;user id=alboraqtest_SQLLogin_1;pwd=amzl3heq85;data source=VideoDb.mssql.somee.com;persist security info=False;initial catalog=VideoDb"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>-->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <trace xdt:Transform="RemoveAttributes(enabled)"/>
    <customErrors mode="Off" defaultRedirect="Error" allowNestedErrors="true" redirectMode="ResponseRedirect" xdt:Transform="Replace" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" xdt:Transform="Replace" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=16070400; includeSubDomains" xdt:Transform="Insert"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>