@using VideoUpload.Web.Common;

@model IEnumerable<VideoUpload.Web.Models.ActivityViewModels.ActivityViewModel>

@{
    ViewBag.Title = "Activity List";
}

<div class="container-wrapper">
    <section class="container">
        <h2>List of access</h2>

        <p>
            <a href="@Url.Action("new")" class="btn btn-default"><i class="fa fa-angle-right"></i> &nbsp; New access</a>
        </p>

        <hr />

        <ul class="list-group">
            @foreach (var activity in Model)
            {
                <li class="list-group-item">
                    <a href="@Url.Action("edit",new { activityID = activity.ActivityID, description = Html.HyphenUrl(activity.Description) })">@activity.Description</a>
                </li>
            }
        </ul>
    </section>
</div>