
@{
    ViewBag.Title = "About";
}

<div class="container-wrapper">
    <div class="container">
        <section id="about-section">
            <h2>History of Al Boraq Automobiles Co. w.l.l</h2>

            <p style="text-indent: 15px">
                Founded as a Qatari company with limited liability according to the Rules &amp; Regulations of the state of Qatar in August 2005. Al Boraq Automobiles Company is fully owned and registered in the Qatari Chamber of Commerce under the name of: <strong>Salman J. Al Darwish.</strong> Official operation started on 1st October 2005 and 1st unit delivered on 5th November 2005. The construction of the workshop started on 1st of August 2005 and 1st vehicle was received for repairs on 1st of October 2005, only two months later. Workshop facility was completed December 2005. The official inauguration of Showroom and Workshop by Dr. WendelinWeideking took place on 14th of March 2006. Launch of the company and the new Cayman S on December 2006. Qatar Record sales of 347 units on the 1st year of operation. Inauguration of Quick Service Centre in January 2009.
            </p>
        </section>
    </div>
</div>
