
@{
    ViewBag.Title = "Contact Us";
}

<div class="col-md-12 col-sm-12">

    <h2>@ViewBag.Header</h2>

    <div class="well text-center">
        <p class="lead">Do you have any questions? Please feel free to contact us or to arrange an appointment</p>
    </div>   
    
    <address id="pcd">
        <strong>Porsche Centre Doha</strong><br />
        Al Boraq Automobiles Co WLL<br />
        Airport Street<br />
        PO Box 23619<br />
        Doha, Qatar<br /><br />

        <strong>Showroom</strong><br />
        Phone: +974 44599 666<br />
        Fax: +974 44666 993<br />
        Email: info@boraq-porsche.com.qa<br /><br />

        <strong>Opening Hours</strong>
        Saturday to Thursday<br />
        8:00 am to 12:00 noon<br />
        4:00 pm to 8:00 pm<br />
    </address>

    <address id="st16">
        <strong>Porsche Service Centre - <abbr title="Street">St.</abbr> 16</strong><br />
        16th Street Industrial Area<br />
        PO Box 23619<br />
        Doha, Qatar<br />
        Phone: +974 44599 800<br />
        Fax: +974 44111 027<br />
        Email: info@boraq-porsche.com.qa<br /><br />

        <strong>Opening Hours</strong>
        Saturday<br />
        8:00 am to 6:30 pm<br />
        Sunday to Wednesday<br />
        8:00 am to 6:00 pm<br />
        Thursday<br />
        8:00 am to 6:30 pm<br />
    </address>

    <address id="st27">
        <strong>Porsche Service Centre - <abbr title="Street">St.</abbr> 27</strong><br />
        Industrial Area Street No 27<br />
        PO Box 23619<br />
        Doha, Qatar<br />
        Phone: +974 44599 777<br />
        Fax: +974 44503 366<br />
        Email: info@boraq-porsche.com.qa<br /><br />

        <strong>Opening Hours</strong>
        Saturday to Wednesday<br />
        7:00 am to 4:00 pm<br />
        Thursday<br />
        7:00 am to 12:30 pm<br />
    </address>

    <address id="qsc">
        <strong>Porsche Quick Service Centre</strong><br />
        City Petrol Station, Al Gharaffa<br />
        PO Box 23619<br />
        Doha, Qatar<br />
        Phone: +974 44599 733<br />
        Phone: +974 44599 734<br />
        Fax: +974 44863 388<br />
        Email: info@boraq-porsche.com.qa<br /><br />

        <strong>Opening Hours</strong>
        Saturday to Wednesday<br />
        8:00 am to 5:00 pm<br />
        Thursday<br />
        8:00 am to 1:30 pm<br />
    </address>
</div>




