#cust-header img {
    display: block;
    width: 110px;
    height: 60px;
    margin: 15px auto;
}
/*
==================================
    SOCIAL BUTTONS
==================================
*/
.btn-social {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

    .btn-social:focus,
    .btn-social.focus {
        color: #fff;
        background-color: #286090;
        border-color: #122b40;
    }

    .btn-social:hover {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
    }

    .btn-social:active,
    .btn-social.active,
    .open > .dropdown-toggle.btn-social {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
    }

        .btn-social:active:hover,
        .btn-social.active:hover,
        .open > .dropdown-toggle.btn-social:hover,
        .btn-social:active:focus,
        .btn-social.active:focus,
        .open > .dropdown-toggle.btn-social:focus,
        .btn-social:active.focus,
        .btn-social.active.focus,
        .open > .dropdown-toggle.btn-social.focus {
            color: #fff;
            background-color: #204d74;
            border-color: #122b40;
        }

.dropdown-contact {
    margin-top: 15px;
}

.btn-contact {
    color: #fff;
    background-color: #900;
    border-color: #900;
}

    .btn-contact:active {
        background-color: #900;
    }
    .btn-contact:hover {
        background-color: #bfbfbf;
        color: #900;
        border-color: silver;
    }
    .btn-contact:focus,
    .btn-contact.focus {
        color: #ffffff;
        background-color: #900;
        border-color: #900;
    }

.open > .dropdown-toggle.btn-contact {
    color: #ffffff;
    background-color: #900;
    border-color: #900;
}

.btn-contact-block {
    width: 100%;
    text-align: left;
}

    .btn-contact-block i {
        margin-right: 15px;
    }

.dropdown-contact-menu {
    width: 100%;
}

.dropdown-contact-menu > li > a {
    color: #900;
}

.dropdown-contact-menu > li > a:hover {
    background-color: #900;
    color: #fff;
}

.social-buttons-container {
    margin-top: 30px;
}

.fa-angle-down-padright {
    margin-right: 15px;
}
/*
==================================
    WATCH POSTED ARTICLE
==================================
*/
.watch-group-contact {
    margin-bottom: 10px;
}
@media (min-width:360px) {
    .watch-group-contact, .watch-group-sa {
        margin-bottom: 10px;
    }
}
#main-footer > .container {
    padding: 30px;
}