/*
==================================
    DEFAULTS
==================================
*/
body {
    padding-top: 70px;
}
#main-content {
    min-height: 400px;
}
footer {
    margin: 10px 0;
}
.social-buttons {
    margin-top: 10px;
}
input, select, textarea {
    font-size: 12px;
}
.search-photos {
    margin-bottom: 10px;
}
.navbar-default {
    background-color: #b40e0e;
}
.navbar-brand {
    padding-top: 10px; 
}
.navbar-brand>img {
    display: inline;
}
#title-header {
    margin-top: -13px;
    margin-left: 5px;
}
.mypost-action {
    margin-bottom: 4px;
}
@media (min-width: 320px) {
    .navbar-brand {
        clear: left;
    }
    .navbar-brand > img {
        padding-right: 5px;
    }
    .navbar-left {
        float: left !important;        
    }       
    #title-header {
        width: 170px;        
    }
    #title-header > h4 {
        font-size: 13px;
        padding-top: 5px;
    }    
} 
.watch-group-sa {
    margin-bottom: 10px;
}
.vthumbnail:hover {
    opacity: .7;
}
.useraccount-settings-widget {
    margin-top: 30px;        
}
/*
==================================
    HEALTH CHECK
==================================
*/
.hc-jc .col-md-6,
.hc-jc .col-md-4 {
    padding-left: 0;    
    padding-right: 0;
}
.hc-jc .col-md-6 {     
    margin-bottom: 15px;    
}
.hc-jc .form-control {      
    font-size: 12px;
    font-family: Arial;    
    font-weight:400;        
    padding: 3px;
    width:75%;
}

.hc-table {
    font-size: 12px;
    font-weight:500;    
    width:100%;   
}
.hc-hccode {
    width: 1px;
}
.hc-description { 
    width: 25%;     
}
.hc-stat { 
    width: 3%;
    text-align: center;   
}
.hc-stat .fa-check {
    color:#fff !important;
}
.hc-stat .radio {
    margin: 10px 10px;
}
.hc-stat .checkbox {
    text-align:center;
}
.hc-comments {
    white-space:nowrap;
}
.hc-comments input[type="text"] {        
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*.hc-comments span {
    display:block;
    overflow:hidden;
    border:1px solid black;
}*/

.hc-table .hc-stat-success { background-color: #1c710b !important;}    
.hc-table .hc-stat-warning { background-color: #ff6a00 !important;}    
.hc-table .hc-stat-danger { background-color: #b40e0e !important;}
 
.hc-stat-check { color:#fff; }  
.invi { visibility:collapse; }
