/*
==================================
    DEFAULTS
==================================
*/
body {
    font-family: 'Raleway', sans-serif;
    font-weight:500;    
    background: whitesmoke;
}
#main-header {
    padding-left: 0;
    padding-right: 0;
}
#main-header h1 {
    color: #a30f0f;
}
#main-nav {
    margin-bottom: 0;
}
.navbar {
    border:1px solid transparent;
    
}
.navbar-inverse {
    background-color:#a30f0f;    
}
.form-defaults input,
.form-defaults select,
.form-defaults textarea {
    max-width: 380px;
}

/*
==================================
    MAIN-CONTENT
==================================
*/
#main-image {   
    
    height:240px;
    width:320px;
    margin: 0 auto;           
}
#main-content {
    background-color:#fff;  
    padding:30px;  
    border-left:1px solid silver;
    border-right:1px solid silver;
    border-bottom:1px solid silver;
    border-radius: 0 0 15px 15px;
}
/*
==================================
    FOOTER
==================================
*/
#main-footer {
    height:200px;
    text-align:center;
    color: #a30f0f;
    margin-top:20px;    
    padding:20px;
}
/*
==================================
    HEALTH CHECK
==================================
*/
.hc-jc .col-md-6,
.hc-jc .col-md-4 {
    padding-left: 0;    
    padding-right: 0;
}
.hc-jc .col-md-6 {     
    margin-bottom: 15px;    
}
.hc-jc .form-control {      
    font-size: 12px;
    font-family: Arial;    
    font-weight:400;        
    padding: 3px;
    width:75%;
}

.hc-table {
    font-size: 11px;
    font-weight:600;    
    width:100%;   
}
.hc-hccode {
    width: 1px;
}
.hc-description { 
    width: 25%;     
}
.hc-stat { 
    width: 3%;
    text-align: center;   
}
.hc-stat .radio {
    margin: 10px 10px;
}
.hc-stat .checkbox {
    text-align:center;
}
.hc-comments {
    white-space:nowrap;
}
.hc-comments input[type="text"] {        
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*.hc-comments span {
    display:block;
    overflow:hidden;
    border:1px solid black;
}*/

.hc-table .hc-stat-success { background-color: #1c710b !important;}    
.hc-table .hc-stat-warning { background-color: #ff6a00 !important;}    
.hc-table .hc-stat-danger { background-color: #b40e0e !important;}
 
.hc-stat-check { color:#fff; }  
.invi { visibility:collapse; }
