@media print {   
     body {
         -webkit-print-color-adjust: exact;
     }
    #main-content { 
        border: 0px; 
        margin-top:0;
    }
    .hc-table{ 
        font-weight:400; 
    }
    .hc-jc p {
        font-family:Arial;
        font-weight:400;
    }
    .hc-jc .col-md-6 {     
        margin-bottom: 0;    
    }
    .hc-stat-success { 
        background-color: #1c710b !important;       
    }    
    .hc-stat-warning { 
        background-color: #ff6a00 !important;        
    }    
    .hc-stat-danger { 
        background-color: #b40e0e !important;        
    }          
    .hc-stat .fa-check {
        color:#fff !important;
    }
    .hc-jc label,
    .hc-table {
        font-weight:400;
    }
    
    
}