@using VideoUpload.Core.Entities
@model IEnumerable<IGrouping<string, HealthCheck>>

@{
    var hcDetails = (List<HealthCheckDetails>)ViewBag.HcDetails;
    
}

@foreach (var group in Model)
{
    <table class="table table-condensed hc-table">
        <thead>
            <tr>
                <th></th>
                <th>@group.Key</th>
                <th class="text-center" colspan="3">Status</th>                
                <th class="text-center">Comments</th>
            </tr>
        </thead>
        <thead>
            @for (int i = 0; i < group.Count(); i++)
            {
                <tr>
                    <td class="hc-hccode">                        
                        @group.ElementAt(i).HcCode
                    </td>
                    <td class="hc-description">@group.ElementAt(i).Description</td>
                    <td class="hc-stat hc-stat-success">

                        @if (hcDetails.ElementAt(i).Status == "good")
                        {
                            <i class="fa fa-check" title="Good condition"></i>
                        }

                    </td>
                    <td class="hc-stat hc-stat-warning">

                        @if (hcDetails.ElementAt(i).Status == "suggested")
                        {
                            <i class="fa fa-check" title="Suggested to be replaced"></i>
                        }

                    </td>
                    <td class="hc-stat hc-stat-danger">

                        @if (hcDetails.ElementAt(i).Status == "urgent")
                        {
                            <i class="fa fa-check" title="Urgent to replace"></i>
                        }

                    </td>
                    <td class="hc-comments">
                       <span>@hcDetails.ElementAt(i).Comments</span>
                    </td>
                </tr>
            }
        </thead>
    </table>
}





