@model VideoUpload.Core.Entities.HealthCheckDetails

<td class="hc-stat hc-stat-success">
    <div class="checkbox">
        <label>
            <input checked type="radio" name="@ViewBag.HcCode" value="good" />
        </label>
    </div>    
</td>
<td class="hc-stat hc-stat-warning">
    <div class="checkbox">
        <label>
            <input checked type="radio" name="@ViewBag.HcCode" value="suggested" />
        </label>
    </div>
</td>
<td class="hc-stat hc-stat-danger">
    <div class="checkbox">
        <label>
            <input checked type="radio" name="@ViewBag.HcCode" value="urgent" />
        </label>
    </div>
</td>
<td class="hc-comments">    
    @Html.TextBoxFor(x => x.Comments, new { @class = "form-control input-sm"})
</td>