
@{
    ViewBag.Title = "_PasswordResetRequestSentSuccess";
}

<p class="lead">Your password request has been sent to your email</p>

<a href="@Url.Action("signin","account")">Go to login page.</a>


