@model IList<VideoUpload.Core.Entities.Post>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Recent videos played by customers</h4>
    </div>

    <ul class="list-group">
        @foreach (var post in Model)
        {
            <li class="list-group-item">
                @Html.PostActionLink(post)
            </li>
        }
    </ul>
</div>



