@Html.Action("GetBranches", "home")

<div class="social-buttons-container">
    <p style="font-size:18px;">
        Connect with Porsche<br />
        <a href="https://www.facebook.com/PorscheCentreDoha/" class="btn btn-social social-buttons" title="Facebook">
            <i class="fa fa-facebook-f fa-lg"></i>
        </a>
        <a href="https://www.instagram.com/porschecentredoha/" class="btn btn-social social-buttons" title="Instagram">
            <i class="fa fa-instagram fa-lg"></i>
        </a>
    </p>
</div>