<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Contact us</h4>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="@Url.Action("contact", "home")#pcd">Porsche Center Doha - Showroom</a>
        </li>
        <li class="list-group-item">
            <a href="@Url.Action("contact", "home")#st16">Porsche Service Centre - St. 16 Industrial Area</a>
        </li>
        <li class="list-group-item">
            <a href="@Url.Action("contact", "home")#st27">Porsche Service Centre - St. 27 Industrial Area</a>
        </li>
        <li class="list-group-item">
            <a href="@Url.Action("contact", "home")#qsc">Porsche Quick Service Centre</a>
        </li>
    </ul>
</div>

<div class="well text-center">
    <p class="lead">Like us on Facebook and follow us on Instagram</p>

    <p>
        <a href="https://www.facebook.com/PorscheCentreDoha/" class="btn btn-primary btn-lg social-buttons">
            <i class="fa fa-facebook-square fa-lg"></i> Facebook
        </a>
        <a href="https://www.instagram.com/porschecentredoha/" class="btn btn-primary btn-lg social-buttons">
            <i class="fa fa-instagram fa-lg"></i> Instagram
        </a>
    </p>
</div>
