
@{
    ViewBag.Title = "ConvertAndUpload";
}

<h2>Convert And Upload</h2>

@using (Html.BeginForm("ConvertAndUpload","Videos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" /><br />
    <input type="submit" value="Convert" />
}

