@using VideoUpload.Web.Common
@model IEnumerable<VideoUpload.Web.Models.PostViewModel>

@{
    ViewBag.Title = "Search results";
}
<div class="col-md-12">

    <h1>Search results</h1>

    <div class="row">
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-3">
                    <!--TODO: uncomment in production-->
                    @*<img class="img-responsive img-thumbnail search-photos"
                         src="~/Uploads/Thumbnails/@item.Attachments.First().ThumbnailFileName"
                         alt="Car number @item.PlateNumber"
                         width="300" height="350" />*@
                    <img class="img-thumbnail img-responsive photo" src="http://placehold.it/300x350" />
                </div>

                <div class="col-md-9 col-sm-9">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <span class="glyphicon glyphicon-upload"></span> Uploaded by: @item.UploadedBy
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                            <span class="glyphicon glyphicon-time"></span> Date uploaded: @item.DateUploaded
                        </div>
                    </div>

                    <p class="lead">@item.Description</p>
                </div>
                <div class="clearfix"></div>
            }
        }
        else
        {
            <p class="alert alert-warning">No result found.</p>
        }
    </div>
    

</div>


@section Script {     
<script src="~/scripts/videos/timeZoneCooke.js"></script>
}



