@model VideoUpload.Web.Models.HealthChecks.HcViewModel

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Vehicle Health Check</h2>

@Html.DisplayFor(x => x.Jobcard)
@Html.DisplayFor(x => x.GroupedHealthChecks, new { HcDetails = Model.Jobcard.HealthCheckDetails })    
