@model VideoUpload.Web.Models.HealthChecks.HcViewModel

@{
    ViewBag.Title = "Details";
}
<style>
    .table {
        font-size: 10px;        
    }
    .test { width:30%;}
    .test2 { width:5%; padding:0; margin:0;}
    .test3 {width:80%;}
    .vin {margin-right: 20px;}
</style>
<span></span>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Health Check</h3>
    </div>
    <div class="panel-body">
        <span class="pull-left"><b>Customer name:</b> Mark Lester Echavez</span> <span class="pull-right"><b>Jobcard:</b> R410000</span>
        <div class="clearfix"></div>
        <span class="pull-left vin"><b>VIN:</b>WP1ZZZ9PZCLA45258</span> <span class="pull-left"><b>Plate no:</b>663405</span> <span class="pull-right"><b>mileage:</b>19727</span>

    </div>
    @foreach (var hcGroup in Model.GroupedHealthChecks)
    {
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>@hcGroup.Key</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="text-center">Comments</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in hcGroup)
                {
                    <tr>
                        <td>@item.HcCode</td>
                        <td class="test">@item.Description</td>
                        <td class="bg-success text-center test2">
                            <input type="radio" name="status" checked />
                        </td>
                        <td class="bg-warning text-center test2">
                            <input type="radio" name="status" />
                        </td>
                        <td class="bg-danger text-center test2">
                            <input type="radio" name="status" />
                        </td>
                        @{
                            var comment = Model.HealthCheckDetails.Find(x => x.HcCode == item.HcCode);
                            if (comment != null)
                            {
                                <td class="test3"></td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>


    }
</div>