@model VideoUpload.Web.Models.HealthChecks.HcViewModel

@{
    ViewBag.Title = "Details";
}

<div class="row">

    <div class="hc-details">
        <h3 class="text-center">Vehicle Health Check</h3>
        <div class="col-md-4 col-sm-8 col-xs-12">
            <p><b>Customer name:</b> Mark Lester Echavez</p>
        </div>        
        <div class="col-md-8 col-sm-4 col-xs-12">
            <p><b>Jobcard:</b> R410000</p>
        </div>
        <div class="col-sm-4 col-xs-12">
            <p><b>VIN:</b> WP1ZZZ9PZCLA45258</p>
        </div>
        <div class="col-sm-4 col-xs-12">
            <p><b>Plate no:</b> 663405</p>
        </div>
        <div class="col-sm-4 col-xs-12">
            <p><b>mileage:</b> 19727</p>
        </div>
    </div>
</div>

    @foreach (var hcGroup in Model.GroupedHealthChecks)
    {
        <table class="table table-condensed hc-table">
            <thead>
                <tr>
                    <th></th>
                    <th>@hcGroup.Key</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="text-center">Comments</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in hcGroup)
                {
                    var hcDetails = Model.HealthCheckDetails.Find(x => x.HcCode == item.HcCode);
                <tr>
                    <td class="hc-hccode">@item.HcCode</td>
                    <td class="hc-description">@item.Description</td>
                    <td class="hc-stat hc-stat-success">
                        @{
                            if (hcDetails != null && hcDetails.IsGoodCondition)
                            {
                                <i class="fa fa-check hc-stat-check" title="In good condition" data-toggle="tooltip" data-placement="top"></i>
                            }
                            else
                            {
                                <i class="fa fa-check hc-stat-check invi" title="In good condition" data-toggle="tooltip" data-placement="top"></i>
                            }
                        }
                    </td>

                    <td class="hc-stat hc-stat-warning">
                        @{
                                if (hcDetails != null && hcDetails.IsSuggestedToReplace)
                                {                                    
                                    <i class="fa fa-check hc-stat-check" title="Suggested to be replaced" data-toggle="tooltip" data-placement="top"></i>
                                }
                                else
                                {
                                    <i class="fa fa-check hc-stat-check invi" title="Suggested to be replaced" data-toggle="tooltip" data-placement="top"></i>
                                }
                        }
                    </td>
                    <td class="hc-stat hc-stat-danger">
                        @{
                            if (hcDetails != null && hcDetails.IsUrgentToReplace)
                            {
                                <i class="fa fa-check hc-stat-check" title="Needs to be replaced" data-toggle="tooltip" data-placement="top"></i>
                            }
                            else
                            {
                                <i class="fa fa-check hc-stat-check invi" title="Needs to be replaced" data-toggle="tooltip" data-placement="top"></i>
                            }
                        }
                    </td>
                    <td class="hc-comments">
                        @{
                            if (hcDetails != null)
                            {
                                <span>@hcDetails.Comments</span>
                            }
                        }
                    </td>
                </tr>
                 }
            </tbody>
        </table>
}


@section Script {
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
