@model VideoUpload.Web.Models.HealthChecks.HcViewModel
    
@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Vehicle Health Check</h2>

@using (Html.BeginForm("new", "healthcheck", FormMethod.Post))
{    
    @Html.EditorFor(x=>x.Jobcard)
    @Html.EditorFor(x=>x.GroupedHealthChecks)    
    <input type="submit" class="btn btn-default" value="Save" />
}